.headerContainer {
  background-color: black;
  color: white;
  height: 5rem;
}

.linkContainer {
  display: flex;
  justify-content:flex-start;
  gap: 3rem;
  padding-left: 2rem;
  padding-top: 1.5rem;
}
