.title {
  display: flex;
  justify-content: center;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.rowContainer {
  display: flex;
  justify-content: center;
}
.questionContainer {
  display: flex;
  justify-content: center;
}
.questionFormInput {
  padding: 5px;
  width: 35.5rem;
  height: 7rem;
  font-size: x-large;
  border-style: solid;
}
.imageUrlContainer {
  display: flex;
  justify-content: center;
}
.imageUrlFormInput {
  padding: 5px;
  width: 35.5rem;
  height: 3rem;
  font-size: x-large;
  border-style: solid;
}
.answerContainer {
  display: flex;
  justify-content: center;
}
.answersGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.answersGroupRow {
  display: flex;
  gap: 30px;
}
.answerFormInput {
  border-style: solid;
  height: 3rem;
  width: 30rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
